<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.honeycomb.sdk.common.provider">

    <application>

        <provider
            android:name=".AppCommonInitProvider"
            android:authorities="${applicationId}.sdk.common.initprovider"
            android:exported="false"
            android:initOrder="100" />

    </application>
</manifest>
