<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.honeycomb.mod.tap">

    <permission android:name="com.honeycomb.permission.INJECT_TAP" />

    <application>

        <receiver
            android:name=".TapReceiver"
            android:permission="com.honeycomb.permission.INJECT_TAP">
            <intent-filter>
                <action android:name="com.honeycomb.action.INJECT_TAP" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
