<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.honeycomb.mod.keepalive">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Wakeup record file needs these permissions to record wakeup events in external storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>

        <activity
            android:name=".keepalive.foreground.OnePixelActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Translucent" />

        <service
            android:name=".keepalive.foreground.KeepAliveForegroundService"
            android:exported="false" />

        <service
            android:name=".keepalive.bound.KeepAliveBoundService"
            android:exported="false" />

        <service
            android:name=".keepalive.background.KeepAliveBackgroundService"
            android:exported="false" />

        <activity
            android:name=".keepalive.background.KeepAliveBackgroundService$ForegroundActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Translucent" />

        <service
            android:name=".wakeup.job.WakeupJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".wakeup.receivers.WakeupReceiver">
            <intent-filter android:priority="1000">
                <!-- Sent by system to launch the process -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter android:priority="1000">
                <!-- Only receive this implicit broadcast when targeting API level lower than 26 -->
                <action android:name="android.intent.action.USER_PRESENT" />

                <!-- Sent by the Wakeup job service and AlarmManager -->
                <action android:name="com.honeycomb.action.WAKEUP" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
