<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.honeycomb.mod.keepalive">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Wakeup record file needs these permissions to record wakeup events in external storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:persistent="true">

        <service android:name=".keepalive.service.KeepAliveForegroundService" />

        <service android:name=".keepalive.service.KeepAliveService" />

        <service
            android:name=".wakeup.job.WakeupJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".wakeup.receivers.WakeupReceiver">
            <intent-filter android:priority="1000">
                <!-- Sent by system to launch the process -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />

                <!-- Sent by the Wakeup job service and AlarmManager -->
                <action android:name="com.honeycomb.action.WAKEUP" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
