<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.honeycomb.lab.system"
    android:sharedUserId="android.uid.system">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <meta-data
            android:name="com.honeycomb.lab.MAIN_FRAGMENT"
            android:value="com.honeycomb.lab.system.Playground" />

    </application>
</manifest>